<ion-header>
  <ion-toolbar>
    <ion-title>PobreFlix</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-title><!-- Default Searchbar -->
    <ion-searchbar [(ngModel)]="busca" (change)="buscarFilme()"> </ion-searchbar>
  </ion-title>
</ion-toolbar>

<ion-content padding>
  <div class="container" >
    <h6>filmes populares</h6>
    <div class="scroll listaCategorias" scrollX="true">
      <ion-col size="3" *ngFor="let popular of populares">
        <img src="https://image.tmdb.org/t/p/w500{{popular.poster_path}}" size="12" [routerLink]="['/desc', popular.id]">
      </ion-col>
    </div>

    <h6>filmes mais bem avaliados</h6>
    <div class="scroll listaCategorias" scrollX="true">
      <ion-col size="3" *ngFor="let rated of movie_rated">
        <img src="https://image.tmdb.org/t/p/w500{{rated.poster_path}}" size="12" [routerLink]="['/desc', rated.id]">
      </ion-col>
    </div>

    <h6>Em Breve nos Cinemas</h6>
    <div class="scroll listaCategorias" scrollX="true">
      <ion-col size="3" *ngFor="let coming of movie_coming">
        <img src="https://image.tmdb.org/t/p/w500{{coming.poster_path}}" [routerLink]="['/desc', coming.id]">
      </ion-col>
    </div>

    <h6>Em Cartaz no cinema</h6>
    <div class="scroll listaCategorias" scrollX="true">
      <ion-col size="3" *ngFor="let cine of movie_cine">
        <img src="https://image.tmdb.org/t/p/w500{{cine.poster_path}}" [routerLink]="['/desc', cine.id]">
      </ion-col>
    </div>

  </div>
</ion-content>
