{{cast_profile|json}}
<!--<ion-content>-->
  <!--<ion-card>-->
    <!--<img src="https://image.tmdb.org/t/p/w500{{cast_profile.profile_path}}" size="4">-->
    <!--<ion-card-header>-->
      <!--<ion-card-subtitle></ion-card-subtitle>-->
      <!--<ion-card-title>{{cast_profile.title}}</ion-card-title>-->
    <!--</ion-card-header>-->
  <!--</ion-card>-->
<!--</ion-content>-->



    <!--<ion-card-content>-->
      <!--{{cast_profile.overview}}-->
      <!--<ion-row>-->
        <!--<ion-chip>-->
          <!--<ion-avatar>-->
            <!--<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">-->
          <!--</ion-avatar>-->
          <!--<ion-label>nota: {{cast_profile.vote_average}}</ion-label>-->
        <!--</ion-chip>-->
      <!--</ion-row>-->

      <!--<ion-row>-->
        <!--<ion-chip>-->
          <!--<ion-avatar>-->
            <!--<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">-->
          <!--</ion-avatar>-->
          <!--<ion-label>lançamento:</ion-label>-->
        <!--</ion-chip>-->
        <!--<ion-chip>-->
          <!--<ion-label>{{cast_profile.release_date}}</ion-label>-->
        <!--</ion-chip>-->
      <!--</ion-row>-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->
  <!--<h6>Elenco</h6>-->
  <!--<div class="scroll listaCategorias" scrollX="true">-->
    <!--<ion-col size="3" *ngFor="let casts of movie_casts">-->
      <!--<img  src="https://image.tmdb.org/t/p/w500{{casts.profile_path}}" [routerLink]="['/cast_information', casts.credit_id]" >-->
    <!--</ion-col>-->
  <!--</div>-->
<!--</ion-content>-->
